In [4]:
import pandas as pd
ci_df = pd.read_json("sql/Configuration_Item.json")
attributes_df = pd.read_json("sql/Attribute.json")

                       name device_type   env       ip_address
ci_id
79      admirablerole.local    ip_phone   stg  149.187.243.207
23      adorablehitch.local      switch   stg       34.89.1.73
31          alertcall.local      router   stg   206.67.228.180
26          angrylink.local      router   dev    14.34.207.247
17        austeredear.local      server   dev   185.206.227.93
...                     ...         ...   ...              ...
97     worrisomeflare.local    ip_phone   stg    22.76.249.204
4           worstblip.local    ip_phone  prod        4.5.243.9
3              wrytug.local      router   stg   128.78.209.142
58            zanydip.local      server   dev    41.41.236.193
81          zestycold.local      switch   dev   133.72.201.123

[100 rows x 4 columns]

In [ ]:
ci_att_df = pd.merge(ci_df,attributes_df,on="ci_id")
cp=ci_att_df.pivot(index="name", columns="att_name")
cp.columns = ['ci_id','ci_id2','ci_id3','device_type','env','ip_address']
cp.drop(columns=['ci_id2', 'ci_id3'], inplace=True)
cp=cp.reset_index()
cp.set_index('ci_id',inplace=True)
cp